.qc-review-notice{
  max-width: initial !important;
  padding: 0 !important;
  margin: 20px 20px 0 0 !important;
  padding: 15px 15px 15px 0 !important;
  border:1px solid #eee !important;
  border-radius: 6px !important;
  box-shadow: 0px 4px 6px 1px #ebebeb !important;
  margin: 20px 20px 0 0 !important;
  background: #fff;
}
.qc-review-notice:after{
  content: '';
  display: table;
  clear: both;
}
.qc-review-thumbnail{
  width: 114px;
  float: left;
  line-height: 80px;
  text-align: center;
  border-right: 4px solid transparent;
}
.qc-review-thumbnail img{
  width: 90px;
  vertical-align: middle;
}
.qc-review-text{
  overflow: hidden;
}
.qc-review-text h3{
  font-size: 24px;
  margin: 0 0 5px;
  font-weight: 400;
  line-height: 1.3;
      color: #000;
}
.qc-review-text p{
  font-size: 13px;
  margin: 0 0 5px;
      color: #222;
}
.qc-review-ul{
  margin: 0;
  padding: 0;
}
.qc-review-ul li{
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 6px;
}
.qc-review-ul li a{
    display: inline-block;
    color: #d63638;
    text-decoration: none;
    padding-left: 26px;
    position: relative;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #d63638;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 500;

}
.qc-review-ul li a span{
      padding: 0 8px 0 0;
          font-size: 17px;
}

.qc-review-ul li a:hover{
    background: #d63638;
    color: #fff;
}
.qc-review-ul li {
    margin-right: 5px;
    margin-bottom: 0;
}
.qc-review-ul {
    margin: 12px 0 0 0;
}