.qcld-main-container-style-1 {
  width: 100% !important;
  max-width: 1170px !important;
}
.qcld-main-container-style-1 .style-1 ul.ca-menu {
  margin: 0;
  padding: 0;
}
.qcld-main-container-style-1 .style-1 ul.ca-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  padding: 1rem !important;
  position: relative !important; 
}

.qcld-main-container-style-1 .style-1 .upvote-section.style-1-upvote-section{
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border: 1px solid #dee2e6 !important;
  top: 6px !important;
  position: absolute !important;
  right: 6px !important;
  border-color: rgb(28 162 252 / 21%) !important;
  background-color: rgb(28 162 252 / 6%);
  border-radius: 50rem !important;
  cursor: pointer;
}  

.qcld-main-container-style-1 .style-1 .upvote-section.style-1-upvote-section:hover{
  background: #fff;
}

.qcld-main-container-style-1 .style-1 .qcld-con-list-img{
  height: 60px;
  min-height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
}

.qcld-main-container-style-1 .style-1 .qcld-con-list-img img{
  border-radius: 50% !important;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.qcld-main-container-style-1 .qcld-con-list{
  gap: 1rem !important;
  text-align: left !important;
  display: flex !important;
  text-align: left !important;
  align-items: center;
}

.qcld-main-container-style-1 .style-1 ul.ca-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #1ca2fc2e !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  border: 1px solid #1ca2fc2e !important;
  gap: 0.5rem !important;
  margin: 15px 0;
  background-color: rgb(28 162 252 / 6%);
}
.qcld-main-container-style-1 .style-1 ul.ca-menu li:hover{
border: 1px solid rgb(28 162 252 / 99%) !important;
}

.qcld-main-container-style-1 .style-1 p.ca-sub {
  margin: 0;
  padding: 4px 0;
  font-size: 14px;
  color: #000;
}

.qcld-main-container-style-1 .style-1 h3.ca-main.subtitle-present {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
#qcopd-list-4-147.style-1 .ca-menu li .ca-main {
  color: #000;
}
.qcld-main-container-style-1 .qcopd-list-wrapper {
  width: 100%;
  max-width: 1170px;
}

.qcld-main-container-style-1 .opd-list-holder-style-1 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.qcld-main-container-style-1 .opd-list-holder-style-1 .list-and-add.qc-grid-item {
  width: 32%;
}

.qcld-main-container-style-1 .style-1 .qcopd-single-list-1 h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}

.qcld-main-container-style-1 .style-1 .qcld-sld-content-dividar {
  background-color: #1ca2fc2e;
  height: 80px;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: center;
  width: 1px;
}

.qcld-main-container-style-1 .style-1 .qcld-sld-content-dividar.visible:before, .qcld-main-container-style-1 .style-1 .qcld-sld-content-dividar.visible:after {
  border-radius: 0;
  transform: translatey(-50%) scale(1);
}
.qcld-main-container-style-1 .style-1 .qcld-sld-content-dividar:before {
  position: absolute;
  content: '';
  top: 0;
  left: -4px;
  width: 0;
  height: 0;
  background-color: #fff;
  transform: translatey(-50%) scale(0);
  transition-delay: 500ms !important;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 100px;
}
.qcld-main-container-style-1 .style-1 .qcld-sld-content-dividar:after {
  position: absolute;
  content: '';
  bottom: -10px;
  right: -4px;
  width: 0;
  height: 0;
  transform: translatey(-50%) scale(0);
  background-color: #fff;
  transition-delay: 500ms !important;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -khtml-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 100px;
}

.qcld-main-container-style-1 .style-1 h3.ca-main.subtitle-present {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.qcld-main-container-style-1 .qcopd_embed_container {

  width: 100%;
  max-width: 1170px;
}

.qcld-main-container-style-1 .opd-list-holder-style-1v{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.qcld-main-container-style-1 .style-1 span.ca-icon.list-img-1 {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.qcld-main-container-style-1 .style-1 .featured-section {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border: 1px solid #dee2e6 !important;
  top: 40px !important;
  position: absolute !important;
  right: 6px !important;
  border-color: rgb(28 162 252 / 21%) !important;
  background-color: #ffeb3b;
  border-radius: 50rem !important;
  cursor: pointer;
  color: #222;
}


@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .qcld-main-container-style-1 .qcopd-list-column.opd-column-2.style-1 {
      width: 49% !important;
      margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .qcopd-list-column.opd-column-2 {
      width: 100% !important;
  }
}

@media only screen and (max-width: 801px) {
  .qcopd-list-column.opd-column-1 {
      width: 100% !important;
  }
}